/* (mis-)using blinkftw.css for TIM Group specific customisation of nagdash style */
tr td span.detail {
 display: inherit !important;
  font-size: 0.6em;
}
tr td span.controls {
  display: inherit !important;
}
table#broken_services tr {
 line-height: 22px
}
